= title("visit us - pykih")
.row
  .col-sm-12
    .page-header 
      %h1.m0p0 Visit Us
    %br
.row
  .col-sm-6
    %iframe{:frameborder => "0", :height => "350", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "https://maps.google.co.in/maps?f=q&source=s_q&hl=en&geocode=&q=Amar+Tower,+Juhu,+Mumbai&aq=&sll=19.081408,72.877819&sspn=0.354956,0.617294&ie=UTF8&hq=&hnear=Amar+Tower,+Juhu,+Mumbai,+Mumbai+Suburban,+Maharashtra&t=m&z=14&iwloc=A&output=embed", :width => "425"}
    %br/
    %small
      %a{:href => "https://maps.google.co.in/maps?f=q&source=embed&hl=en&geocode=&q=Amar+Tower,+Juhu,+Mumbai&aq=&sll=19.081408,72.877819&sspn=0.354956,0.617294&ie=UTF8&hq=&hnear=Amar+Tower,+Juhu,+Mumbai,+Mumbai+Suburban,+Maharashtra&t=m&z=14&iwloc=A", :style => "color:#0000FF;text-align:left"} 304, Amar Tower, A. D. Road, Juhu, Mumbai-49. India.
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
  .col-sm-6
    %h3 Directions
    %p
      1. Reach Iskcon Temple, Juhu, Mumbai
      %br
      2. Ask for Studio 90 and reach there
      %br
      3. At Studio 90 ask for Amar Towers (last building in an up-hill lane)
      %br
      4. Third floor, flat number 304
    %h3 Let's Talk
    %p
      Alternatively, feel free to call us at +91 99879-12526 
      %br
      or we can skype at ritvvijparrikh
      %br
      %br