= title("presentations - pykih")
.row
  .col-sm-12
    .page-header 
      %h1.m0p0 Presentations
    %br
  .col-sm-4
    %iframe{allowfullscreen: "", frameborder: "0", height: "291", marginheight: "0", marginwidth: "0", mozallowfullscreen: "", scrolling: "no", src: "http://www.slideshare.net/slideshow/embed_code/26356414?rel=0", style: "border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px", webkitallowfullscreen: "", width: "342"}
    %div{style: "margin-bottom:5px"}
      %strong
        %a{href: "https://www.slideshare.net/ritvvijparrikh/company-presentation-26356414", target: "_blank", title: "Company presentation"} Company presentation
  .col-sm-4
    %iframe{allowfullscreen: "", frameborder: "0", height: "291", marginheight: "0", marginwidth: "0", mozallowfullscreen: "", scrolling: "no", src: "http://www.slideshare.net/slideshow/embed_code/24583350?rel=0", style: "border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px", webkitallowfullscreen: "", width: "342"}
    %div{style: "margin-bottom:5px"}
      %strong
        %a{href: "https://www.slideshare.net/ritvvijparrikh/jarvisbi-for-sales-managers", target: "_blank", title: "JARVIS:BI for FMCG Sales Managers"} JARVIS:BI for FMCG Sales Managers
  .col-sm-4
    %iframe{allowfullscreen: "", frameborder: "0", height: "291", marginheight: "0", marginwidth: "0", mozallowfullscreen: "", scrolling: "no", src: "http://www.slideshare.net/slideshow/embed_code/24325703?rel=0", style: "border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px", webkitallowfullscreen: "", width: "342"}
    %div{style: "margin-bottom:5px"}
      %strong
        %a{href: "https://www.slideshare.net/ritvvijparrikh/payroll-giving-management-with-tracksgiving", target: "_blank", title: "Payroll Giving Management with TracksGiving"} Payroll Giving Management with TracksGiving
  .col-sm-4
    %iframe{allowfullscreen: "", frameborder: "0", height: "291", marginheight: "0", marginwidth: "0", mozallowfullscreen: "", scrolling: "no", src: "http://www.slideshare.net/slideshow/embed_code/14004343?rel=0", style: "border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px", webkitallowfullscreen: "", width: "342"}
    %div{style: "margin-bottom:5px"}
      %strong
        %a{href: "https://www.slideshare.net/ritvvijparrikh/9-ways-how-cause-marketing-can-help-you", target: "_blank", title: "9 ways how cause marketing can help you achieve your marketing objectives."} 9 ways how cause marketing can help you achieve your marketing objectives.
  .col-sm-4
    %iframe{allowfullscreen: "", frameborder: "0", height: "291", marginheight: "0", marginwidth: "0", mozallowfullscreen: "", scrolling: "no", src: "http://www.slideshare.net/slideshow/embed_code/11785223?rel=0", style: "border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px", webkitallowfullscreen: "", width: "342"}
    %div{style: "margin-bottom:5px"}
      %strong
        %a{href: "https://www.slideshare.net/ritvvijparrikh/tracksgiving-for-charities-11785223", target: "_blank", title: "How TracksGiving can help you implement your campaigning software up quicker and faster?"} How TracksGiving can help you implement your campaigning software up quicker and faster?
    %br
    %br
