= title("JARVIS:BI for FMCG Sales Managers")
.row
  .span12.h.ruler.left
    = link_to "< Back to Demo", "/demo", style: "color: black;"
    %h2.glowblue JARVIS:BI for FMCG Sales Managers
.row.span12
  %br
.row
  .span5
    %h3 
    %h4.thin Managing FMCG sales is a complicated process. In fact, sales managers spend too much time making sense of the vast amounts of data at their disposal in MS Excel. This process inherently is inefficient, causes lags in decision making and is error-prone. JARVIS Business Intelligence now provides Dashboards for sales managers to monitor secondary sales.
    %br
    = link_to "View demo", BASE_URL +  "/demo/sales/live", class: "btn-large btn-success"
  .span7
    %iframe{:allowfullscreen => "", :frameborder => "0", :height => "421", :marginheight => "0", :marginwidth => "0", :mozallowfullscreen => "", :scrolling => "no", :src => "http://www.slideshare.net/slideshow/embed_code/24583350", :style => "border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px", :webkitallowfullscreen => "", :width => "512"}
    %div{:style => "margin-bottom:5px"}
      %strong
        %a{:href => "http://www.slideshare.net/ritvvijparrikh/jarvisbi-for-sales-managers", :target => "_blank", :title => "JARVIS:BI for FMCG Sales Managers"} JARVIS:BI for FMCG Sales Managers
      from
      %strong
        %a{:href => "http://www.slideshare.net/ritvvijparrikh", :target => "_blank"} Pykih Software LLP