.row
  .col-sm-12
    %ol.breadcrumb
      %li= link_to "Work", "/work"
    .page-header 
      %h1.m0p0 Dashboard on Google Analytics
    %br
    %p.lead One of our client was a Boston based digital agency that managed the digital presence of many businesses. They spent a lot of time creating presentations and reports of the client's traffic, adword performance, mentions, etc. for each client. This was costly and error-prone. To improve client communication and the quality and timeliness of our delivery, they got a custom dashboard built for their business.
.row
  .col-sm-6= image_tag('clients/dashboard3.png', class: "col-sm-12")
  .col-sm-6= image_tag('clients/dashboard4.png', class: "col-sm-12")
.row
  .col-sm-12
    %br
    %br
    %br
    %br