.row
  .col-sm-12
    %ol.breadcrumb
      %li= link_to "Work", "/work"
    .page-header 
      %h1.m0p0 Dashboard on LightHouseApp.com
    %br
.row
  .col-sm-6
    %p.lead One of our clients used LightHouseApp to manage operationally tickets for their clients. Daily, their managers would draw out analytics from LightHouseApp manually and then create a color-coded Excel file to report to client's management.  This was consuming a lot of costly manager-hours. They leveraged Pykih's services to create a custom dashboard and reporting tool on top of LightHouseApp.
  .col-sm-6= image_tag('clients/dashboard.png', class: "col-sm-12")
.row
  .col-sm-12
    %br
    %br
    %br
    %br  