td.number{
  font-size: 58px;
  margin: 0px 15px 0 0;
  color: #CCC;
  float: left;
  font-weight: 200;
  line-height: normal;
vertical-align: top;
}

td.number2{
  font-size: 58px;
  margin: 0px 15px 0 0;
  color: #CCC;
  float: right;
  font-weight: 200;
  line-height: normal;
  text-align: right;
vertical-align: top;
}

.red_important{color: red !important;}