= title("fun projects / cerebro - pykih")
.row
  .col-sm-12
    .page-header 
      %h1.m0p0 
        Fun Projects: CEREBRO
        %span{style: "font-size: 12px;"} People Intelligence
    %br
.row
  .col-sm-4
    %h3 Analytics driven hyper personalization and aggregate customer insights.
    %br
    %p.lead Most brands know their customer’s email ID, name, phone number, social media profiles, etc. but they do not know who their customer is in real life. Lack of this key insight hampers the possibility to hyper personalize a customer’s brand experience.
  .col-sm-8= image_tag "cerebro-what.png", class: "img-responsive"
.row
  .col-sm-12
    %h3 Benefits
    %p.lead
      %ul
        %li Map audiences across multiple mediums i.e. online (email, phone, social media) and offline.
        %li Extract deep insights and key analytics about each customer from all sources e.g. demographics, gadget ownership, digital habits, sentiment, etc.
        %li Know more about your leads before you sell to them
        %li Assess effectiveness of CRM activities
        %li Take informed loyalty program/communication decisions for micro segments rather than blanket communication for all
        %li Identify brand ambassadors and assess their effectiveness
        %li Determine your brand positioning viz-a-viz competition in terms of Sentiments, Loyalty/Mentioning, Top of mind recall of media properties, discussion frequency on online platform, etc.
        %li Data driven analysis to implement more precise and controlled CRM and loyalty program that can optimize the budgets.
        %li Find causal correlations between various audience / consumer insights and their purchasing patterns.
    %br
    %br
.row
  .col-sm-4
    %h3 Example
    %br
    %p.lead We had the email ID of a famous Indian Internet entrepreneur. We fed it to Cerebro and just from the email ID, Cerebro searched the Internet for his digital footprint and found all of the below information.
  .col-sm-8
    = image_tag 'tracksidentity.png', class: "img-responsive"
    %br
    %br